@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
		box-sizing: border-box;
}
.container{
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}
a{
    color: inherit;
}
a:hover{
	text-decoration: none;
}
li{
    list-style-type: none;
}
ul{
    margin-bottom: 0;
}


@import 'blocks/promo';
@import 'blocks/services';
@import 'blocks/about';
@import 'blocks/contacts';
@import 'blocks/policy';
