.services {
  background: #2E2E2E;
  padding: 100px 0;
  position: relative;

  &__title {
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    color: #EFEFEF;
    text-align: center;
    margin-bottom: 30px;
  }

  &__divider {
    height: 2px;
    width: 250px;
    background-color: #fff;
    margin: 0 auto 10px;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;

    &.parent {
      background-color: red;
    }
  }



  &__item {



    min-height: 118px;


    width: 610px;
    background: #EFEFEF;
    padding: 25px;
    z-index: 2;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
  }

  // &__item:not(.open) .services__items{
  //   display: none;
  // }

  &__items {
    display: none;
  }


  &__item.open &__items {
    display: block;
  }



  &__subtitle {
    font-size: 22px;
    line-height: 30px;
    color: #232325;
    font-family: 'Open Sans', sans-serif;
  }

  &__item-press {
    width: 25px;
    height: 3px;
    background: #232325;
    cursor: pointer;
    flex-shrink: 0;
  }

  &__item-list {
    font-size: 17px;
    line-height: 23px;
    color: #232325;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(35, 35, 37, 0.5);
    margin-top: 25px;
  }

  &__circle {
    position: absolute;
    top: 121px;
    left: 30px;
    z-index: 1;
  }

  &__floor-circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__small-circle {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 1;
  }

}